.header{
  font-size: 18px;
  text-transform: uppercase;
  color: blueviolet;
  padding: 10px 0;
}
form{
  text-align: center;
}
label{
  font-size: 1.5rem;
}
.form-control{
  width: 40%;
  margin: auto;
}
.form-text{
  text-align: inherit;
}
.form-check-input{
  position: relative;
}